@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Roboto:wght@400;500;700;900&display=swap');
*, *::after, *::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-style: inherit;
}

body {
  font-family: "Inter", sans-serif;
}